<!DOCTYPE html>
<html lang="en">
<style>
    .container {
        margin-top: 3%;
    }
    .device-laptop .device-container {
        display: block;
        height: auto;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    
    .svg {
        overflow: hidden;
        vertical-align: middle;
    }
    
    .device-laptop {
  position: relative;
}
.device-laptop .device-container {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}
.device-laptop .device-screenshot {
  display: block;
  position: absolute;
  top: 6%;
  left: 11.8%;
  height: auto;
  width: 76.57%;
  z-index: 0;
}
</style>
<head>
      {% include 'site/header.html' %}
</head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">mapFSH</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
	          <li class="nav-item active"><a href="about" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="map" class="nav-link">Map</a></li>
	          <li class="nav-item"><a href="listings" class="nav-link">Listings</a></li>
	          <li class="nav-item"><a href="admin" class="nav-link">Admin</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					   <div class="col-md-7 order-md-last d-flex align-items-stretch">
<!--
					<div class="img w-100 img-2 mr-md-2" style="background-image: url(static/images/about.jpg);"></div>  
						<div class="img w-100 img-2 ml-md-2" style="background-image: url(static/images/about-2.jpg);"></div>
-->
                              <div class="container">
                            <div class="device-laptop text-gray-200 mt-n10" data-aos="fade-up">
                                <svg class="device-container" xmlns="http://www.w3.org/2000/svg" fill="#21243d" viewBox="83.911 298.53 426.962 243.838"><path d="M474.843 516.208V309.886c0-6.418-4.938-11.355-11.354-11.355H131.791c-6.417 0-11.354 4.938-11.354 11.355v206.816H83.911v13.326c4.938 7.896 31.098 12.34 40.969 12.34h345.024c10.366 0 36.526-4.936 40.969-12.34v-13.326h-36.03v-.494zM134.26 313.341h326.762v203.361H134.26V313.341z"></path></svg><img class="device-screenshot" src="../static/images/map-screenshot.png" style="height: 95%" />
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
					</div>
					<div class="col-md-5 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section pr-md-5">
	            <h2 class="mb-4">mapFSH </h2>

	            <p>mapFSH (Map Fair Share Housing) is a project taken on by The Fair Share Housing Center of New Jersey to make their data regarding available residential properties within the state of NJ open-source.</p>
			<p> <a href="https://fairsharehousing.org/">The Fair Share Housing Center of New Jersey</a> is a nonprofit organization that fights for the rights of low-income communities to get their "fair share" of the community. The Fair Share Housing Center works to end any and all discriminatory practices against low-income home seekers in the state of New Jersey through legislation.</p>  
	          </div>
					</div>
				</div>
			</div>
		</section>
          {% include 'site/footer.html' %}

    
  </body>
</html>
