<!DOCTYPE html>
<html lang="en">

<head>
      {% include 'site/header.html' %}
</head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">mapFSH</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
	          <li class="nav-item active"><a href="about" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="map" class="nav-link">Map</a></li>
	          <li class="nav-item"><a href="listings" class="nav-link">Listings</a></li>
	          <li class="nav-item"><a href="admin" class="nav-link">Admin</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row">
					   <div class="col-md-7 order-md-last d-flex align-items-stretch">
					<div class="img w-100 img-2 mr-md-2" style="background-image: url(static/images/about.jpg);"></div>  
						<div class="img w-100 img-2 ml-md-2" style="background-image: url(static/images/about-2.jpg);"></div>
					</div>
					<div class="col-md-5 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section pr-md-5">
	            <h2 class="mb-4">mapFSH </h2>

	            <p>mapFSH (Map Fair Share Housing) is a project taken on by The Fair Share Housing Center of New Jersey to make their data regarding available residential properties within the state of NJ open-source.</p>
			<p> <a href="https://fairsharehousing.org/">The Fair Share Housing Center of New Jersey</a> is a nonprofit organization that fights for the rights of low-income communities to get their "fair share" of the community. The Fair Share Housing Center works to end any and all discriminatory practices against low-income home seekers in the state of New Jersey through legislation.</p>  
	          </div>
					</div>
				</div>
			</div>
		</section>
          {% include 'site/footer.html' %}

    
  </body>
</html>
