<!DOCTYPE html>
<html>
    <style>
#data-display {
  border-collapse: collapse;
  width: 100%;
}
#data-display tr:nth-child(even){background-color: #f2f2f2;}
#data-display tr:hover {background-color: #ddd;}
#data-display th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
.fa-home {
    padding-right: 5px;
    stroke: black;
    stroke-width: 5;
  }

#information
	{
		padding: 3em 0em;
	}

.container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

.details-container {
    width: 100%;
    background: #21243d;
  }
.\34 u {
      width: 25%;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
  }

.fa-lg {
    font-size:1.3333333333333333em;
    line-height:.75em;
    vertical-align:-15%
  }

  #information .description
	{
		font-size: 2em;
	}

  .description
	{
		color: #bbb;
        text-align: center;
	}

  thead {
    background-color: #21243d;
    color: #fff;
  }

  tr, td, th {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

  #heart {
  color: grey;
  font-size: 50px;
  }

  #heart.red {
    color: red;
  }

    </style>
    <head>
        <title>mapFSH</title>
        <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
    <link rel='icon' href='static/images/favicon.ico' type='image/x-icon' >
    </head>
    <body>
        {% include 'site/header.html' %}
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
              <a class="navbar-brand" href="index">mapFSH</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
              </button>

              <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="map" class="nav-link">Map</a></li>
                  <li class="nav-item active"><a href="listings" class="nav-link">Listings</a></li>
                  <li class="nav-item"><a href="favorites" class="nav-link">Favorites</a></li>
                  <li class="nav-item"><a href="admin" class="nav-link">Admin</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
              <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate pb-0 text-center" style="height: 30%;">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index">Home <i class="fa fa-chevron-right"></i></a></span>
                         <span><a href="listings">Listings <i class="fa fa-chevron-right"></i></a></span></p>
                  <h1 class="mb-3 bread"><i class="fas fa-home"></i>{{adr}}</h1>
                  {% set tot = row['famsale'] + row['famrent'] + row['srsale'] + row['srrent'] + row['ssnsale'] + row['ssnrent'] %}
                  <h6 class="mb-3 bread" style="color: white;"><strong> Total Number of Units: </strong> {{ tot }}</h6>
                  {% if tot > 0 %}
                    <h6 class="mb-3 bread" style="color: white;"><strong> Types of units available: </strong>
                      {% set types = '' %}

                      {% if row['vli1'] + row['vli2'] + row['vli3'] + row['vssn'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'Very Low Income' %}
                        {% else: %}
                          {% set types = types + ', Very Low Income' %}
                        {% endif %}
                      {% endif %}

                      {% if row['li1'] + row['li2'] + row['li3'] + row['lssn'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'Low Income' %}
                        {% else: %}
                          {% set types = types + ', Low Income' %}
                        {% endif %}
                      {% endif %}

                      {% if row['m1'] + row['m2'] + row['m3'] + row['mssn'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'Moderate Income' %}
                        {% else: %}
                          {% set types = types + ', Moderate Income' %}
                        {% endif %}
                      {% endif %}

                      {% if row['famsale'] + row['famrent'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'Family Housing' %}
                        {% else: %}
                          {% set types = types + ', Family Housing' %}
                        {% endif %}
                      {% endif %}

                      {% if row['srsale'] + row['srrent'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'Senior Housing' %}
                        {% else: %}
                          {% set types = types + ', Senior Housing' %}
                        {% endif %}
                      {% endif %}

                      {% if row['ssnsale'] + row['ssnrent'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'SSN Housing' %}
                        {% else: %}
                          {% set types = types + ', SSN Housing' %}
                        {% endif %}
                      {% endif %}

                      {% if row['famrent'] + row['srrent'] + row['ssnrent'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'For Rent' %}
                        {% else: %}
                          {% set types = types + ', For Rent' %}
                        {% endif %}
                      {% endif %}

                      {% if row['famsale'] + row['srsale'] + row['ssnsale'] > 0 %}
                        {% if types == '' %}
                          {% set types = 'For Sale' %}
                        {% else: %}
                          {% set types = types + ', For Sale' %}
                        {% endif %}
                      {% endif %}

                      {{ types }}
                    </h6>
                  {% endif %}
                  <section class="4u">
                    <meta id='adr' data-adr='{{adr}}'>
                    <i class="fa fa-heart fa-2x" onload='setColor(this)' onclick='toggler(this)' ></i>
                    <script src="static/js/jquery.min.js"></script>
                    <script>

                      function setColor(x) {
                        var favorites = JSON.parse(localStorage.getItem('favorites')) || [];
                        var adr = $('#adr').data('adr'), index = favorites.indexOf(adr);
                        console.log(adr);
                        console.log(favorites);
                        if (index == -1) {
                          x.style.color = 'white';
                        // item is already favorite
                        } else {
                          x.style.color = 'red';
                        }
                      }

                      function toggler(x) {

                        var favorites = JSON.parse(localStorage.getItem('favorites')) || [];
                        var adr = $('#adr').data('adr'), index = favorites.indexOf(adr);
                        if (index == -1) {
                          favorites.push(adr);
                          x.style.color = 'red';
                        // item is already favorite
                        } else {
                          favorites.splice(index, 1);
                          x.style.color = 'white';
                        }
                        // store array in local storage
                        localStorage.setItem('favorites', JSON.stringify(favorites));
                        console.log(JSON.stringify(favorites));
                      }

                    </script>
                  </section>
                </div>
              </div>
          </section>

        <section class="details-container">
            <div id="information">
        			<div class="container">
        				<div class="row">

        					<section class="4u">
        						<span class="description"><span class="fas fa-map-pin" style="color: #24A148"></span></span>
        						<h2 style="color: #fff">Address</h2>
        						<p style="color: #fff">{{adr + ', ' + row['muni'] + ', ' + row['county']}} County, NJ </p>
        					</section>

        					<section class="4u">
        						<span class="description"><span class="far fa-address-book" style="color: #24A148"></span></span>
        						<h2 style="color: #fff">Program</h2>
        						<p style="color: #fff">Program Name: {{row['name']}} <br>
                                Developer:
                                {% if row['developer'] %}
                                    {{row['developer']}}
                                {% else: %}
                                    Unavailable at this time
                                {% endif %} </p>
        					</section>

        					<section class="4u">
        						<span class="description"><span class="fas fa-list" style="color: #24A148"></span></span>
        						<h2 style="color: #fff">More Details</h2>
                                <p style="color: #fff">Status: {{row['status']}} <br>
                                  Compliance Mechanism: {{row['compliance']}} </p>
        					</section>
        				</div>
        			</div>
        		</div>
        </section>

        <section class="container ftco-section ftco-no-pb ftco-no-pt">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-5 wrap-about py-md-5 ftco-animate">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link active" id="v-pills-map-tab" data-toggle="pill" href="#v-pills-map" role="tab" aria-controls="v-pills-map" aria-selected="true">Explore Area</a>
                          <a class="nav-link" id="v-pills-unitsavails-tab" data-toggle="pill" href="#v-pills-unitsavail" role="tab" aria-controls="v-pills-unitsavail" aria-selected="false">Units Available</a>
                          <a class="nav-link" id="v-pills-types-tab" data-toggle="pill" href="#v-pills-types" role="tab" aria-controls="v-pills-types" aria-selected="false">Unit Types</a>
                          <a class="nav-link" id="v-pills-contact-tab" data-toggle="pill" href="#v-pills-contact" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contact Information</a>
                        </div>
                      </div>
                      <div class="col-md-5 wrap-about py-md-5 ftco-animate">
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-map" role="tabpanel" aria-labelledby="v-pills-map-tab">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <hr> <h2> {{ adr + ', ' + row['muni'] + ', ' + row['county']}} County, NJ </h2> <hr>
                              <style>
                                #map {
                                  height: 400px;
                                  width: 120%;
                                 }
                              </style>
                              <div id="map"></div>
                              <script>
                                function initMap() {
                                  const map = new google.maps.Map(document.getElementById("map"), {
                                      center: { lat: {{lat}}, lng: {{long}} },
                                      zoom: 16,
                                      styles: [
                                        { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
                                        { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
                                        { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
                                        {
                                          featureType: "administrative.locality",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#d59563" }],
                                        },
                                        {
                                          featureType: "poi",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#d59563" }],
                                        },
                                        {
                                          featureType: "poi.park",
                                          elementType: "geometry",
                                          stylers: [{ color: "#263c3f" }],
                                        },
                                        {
                                          featureType: "poi.park",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#6b9a76" }],
                                        },
                                        {
                                          featureType: "road",
                                          elementType: "geometry",
                                          stylers: [{ color: "#38414e" }],
                                        },
                                        {
                                          featureType: "road",
                                          elementType: "geometry.stroke",
                                          stylers: [{ color: "#212a37" }],
                                        },
                                        {
                                          featureType: "road",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#9ca5b3" }],
                                        },
                                        {
                                          featureType: "road.highway",
                                          elementType: "geometry",
                                          stylers: [{ color: "#746855" }],
                                        },
                                        {
                                          featureType: "road.highway",
                                          elementType: "geometry.stroke",
                                          stylers: [{ color: "#1f2835" }],
                                        },
                                        {
                                          featureType: "road.highway",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#f3d19c" }],
                                        },
                                        {
                                          featureType: "transit",
                                          elementType: "geometry",
                                          stylers: [{ color: "#2f3948" }],
                                        },
                                        {
                                          featureType: "transit.station",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#d59563" }],
                                        },
                                        {
                                          featureType: "water",
                                          elementType: "geometry",
                                          stylers: [{ color: "#17263c" }],
                                        },
                                        {
                                          featureType: "water",
                                          elementType: "labels.text.fill",
                                          stylers: [{ color: "#515c6d" }],
                                        },
                                        {
                                          featureType: "water",
                                          elementType: "labels.text.stroke",
                                          stylers: [{ color: "#17263c" }],
                                        },
                                      ],
                                    });
                                    new google.maps.Marker({
                                    position:  { lat: {{lat}}, lng: {{long}} },
                                    map,
                                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                                  });
                                }
                              </script>
                              <script defer
                              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnLdUxzZ5jvhDgvM_siJ_DIRHuuirOiwQ&callback=initMap">
                              </script>
                          </div>
                          <div class="tab-pane fade" id="v-pills-unitsavail" role="tabpanel" aria-labelledby="v-pills-unitsavail-tab">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <table class="table table-hover table-responsive">
                              <hr> <h2> Units Available </h2> <hr>
                              <thead>
                                  <tr>
                                      <th></th>
                                      <th>1 Bedroom</th>
                                      <th>2 Bedrooms</th>
                                      <th>3+ Bedrooms</th>
                                      <th>SSN</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th style="white-space: nowrap;" >Very Low Income</th>
                                      <td>{{row['vli1']}}</td>
                                      <td>{{row['vli2']}}</td>
                                      <td>{{row['vli3']}}</td>
                                      <td>{{row['vssn']}}</td>
                                      <th>{{row['vli1'] + row['vli2'] + row['vli3'] + row['vssn']}}</th>
                                  </tr>
                                  <tr>
                                      <th>Low Income</th>
                                      <td>{{row['li1']}}</td>
                                      <td>{{row['li2']}}</td>
                                      <td>{{row['li3']}}</td>
                                      <td>{{row['lssn']}}</td>
                                      <th>{{row['li1'] + row['li2'] + row['li3'] + row['lssn']}}</th>
                                  </tr>
                                  <tr>
                                      <th> Moderate Income </th>
                                      <td>{{row['m1']}}</td>
                                      <td>{{row['m2']}}</td>
                                      <td>{{row['m3']}}</td>
                                      <td>{{row['mssn']}}</td>
                                      <th>{{row['m1'] + row['m2'] + row['m3'] + row['mssn']}}</th>
                                  </tr>
                                  <tr>
                                      <th>Total</th>
                                      <th>{{row['vli1'] + row['li1'] + row['m1']}}</th>
                                      <th>{{row['vli2'] + row['li2'] + row['m2']}}</th>
                                      <th>{{row['vli3'] + row['li3'] + row['m3']}}</th>
                                      <th>{{row['vssn'] + row['lssn'] + row['mssn']}}</th>
                                      <th>{{row['vli1'] + row['li1'] + row['m1'] +
                                          row['vli2'] + row['li2'] + row['m2'] +
                                          row['vli3'] + row['li3'] + row['m3'] +
                                          row['vssn'] + row['lssn'] + row['mssn']}}</th>
                                  </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="v-pills-types" role="tabpanel" aria-labelledby="v-pills-types-tab">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <table class="table table-hover">
                              <hr> <h2> Unit Types </h2> <hr>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Family</th>
                                        <th>Senior</th>
                                        <th>SSN</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>For Rent</th>
                                        <td>{{row['famrent']}}</td>
                                        <td>{{row['srrent']}}</td>
                                        <td>{{row['ssnrent']}}</td>
                                        <th>{{row['famrent'] + row['srrent'] + row['ssnrent']}}</th>
                                    </tr>
                                    <tr>
                                        <th>For Sale</th>
                                        <td>{{row['famsale']}}</td>
                                        <td>{{row['srsale']}}</td>
                                        <td>{{row['ssnsale']}}</td>
                                        <th>{{row['famsale'] + row['srsale'] + row['ssnsale']}}</th>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <th>{{row['famsale'] + row['famrent']}}</th>
                                        <th>{{row['srsale'] + row['srrent']}}</th>
                                        <th>{{row['ssnsale'] + row['ssnrent']}}</th>
                                        <th>{{row['famsale'] + row['famrent'] +
                                            row['srsale'] + row['srrent'] +
                                            row['ssnsale'] + row['ssnrent']}}</th>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                          <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <hr> <h2> Contact Information </h2> <hr>
                            <p> {{row['agent']}} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>


        {% include 'site/footer.html' %}
    </body>
</html>
