<!DOCTYPE html>
<html lang="en">
    <head>
      {% include 'site/admin-header.html' %}
    </head>

    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Edit Data</h1>

                        {% block content %}
                        <form action="/edited?id={{id}}" method="post">
                            <p>
                                {{form.municode.label}} <br>
                                {{form.municode(size=32)}}
                            </p>
                            <p>
                                {{form.muni.label}} <br>
                                {{form.muni(size=32)}}
                            </p>
                            <p>
                                {{form.county.label}} <br>
                                {{form.county(size=32)}}
                            </p>
                            <p>
                                {{form.region.label}} <br>
                                {{form.region(size=32)}}
                            </p>
                            <p>
                                {{form.name.label}} <br>
                                {{form.name(size=32)}}
                            </p>
                            <p>
                                {{form.developer.label}} <br>
                                {{form.developer(size=32)}}
                            </p>
                            <p>
                                {{form.compliance.label}} <br>
                                {{form.compliance(size=32)}}
                            </p>
                            <p>
                                {{form.address.label}} <br>
                                {{form.address(size=32)}}
                            </p>
                            <p>
                                {{form.status.label}} <br>
                                {{form.status(size=32)}}
                            </p>
                            <p>
                                {{form.total.label}} <br>
                                {{form.total(size=32)}}
                            </p>
                            <p>
                                {{form.family.label}} <br>
                                {{form.family(size=32)}}
                            </p>
                            <p>
                                {{form.famsale.label}} <br>
                                {{form.famsale(size=32)}}
                            </p>
                            <p>
                                {{form.famrent.label}} <br>
                                {{form.famrent(size=32)}}
                            </p>
                            <p>
                                {{form.senior.label}} <br>
                                {{form.senior(size=32)}}
                            </p>
                            <p>
                                {{form.srsale.label}} <br>
                                {{form.srsale(size=32)}}
                            </p>
                            <p>
                                {{form.srrent.label}} <br>
                                {{form.srrent(size=32)}}
                            </p>
                            <p>
                                {{form.ssn.label}} <br>
                                {{form.ssn(size=32)}}
                            </p>
                            <p>
                                {{form.ssnsale.label}} <br>
                                {{form.ssnsale(size=32)}}
                            </p>
                            <p>
                                {{form.ssnrent.label}} <br>
                                {{form.ssnrent(size=32)}}
                            </p>
                            <p>
                                {{form.vli1.label}} <br>
                                {{form.vli1(size=32)}}
                            </p>
                            <p>
                                {{form.li1.label}} <br>
                                {{form.li1(size=32)}}
                            </p>
                            <p>
                                {{form.m1.label}} <br>
                                {{form.m1(size=32)}}
                            </p>
                            <p>
                                {{form.vli2.label}} <br>
                                {{form.vli2(size=32)}}
                            </p>
                            <p>
                                {{form.li2.label}} <br>
                                {{form.li2(size=32)}}
                            </p>
                            <p>
                                {{form.m2.label}} <br>
                                {{form.m2(size=32)}}
                            </p>
                            <p>
                                {{form.vli3.label}} <br>
                                {{form.vli3(size=32)}}
                            </p>
                            <p>
                                {{form.li3.label}} <br>
                                {{form.li3(size=32)}}
                            </p>
                            <p>
                                {{form.m3.label}} <br>
                                {{form.m3(size=32)}}
                            </p>
                            <p>
                                {{form.vssn.label}} <br>
                                {{form.vssn(size=32)}}
                            </p>
                            <p>
                                {{form.lssn.label}} <br>
                                {{form.lssn(size=32)}}
                            </p>
                            <p>
                                {{form.mssn.label}} <br>
                                {{form.mssn(size=32)}}
                            </p>
                            <p>
                                {{form.total1.label}} <br>
                                {{form.total1(size=32)}}
                            </p>
                            <p>
                                {{form.total2.label}} <br>
                                {{form.total2(size=32)}}
                            </p>
                            <p>
                                {{form.total3.label}} <br>
                                {{form.total3(size=32)}}
                            </p>
                            <p>
                                {{form.submit()}}
                            </p>
                        </form>
                        {% endblock %}
                    </div>
                </main>
                
                {% include 'site/admin-footer.html' %}
    </body>
</html>
