<!DOCTYPE html>
<html lang="en">
<style>
	.device-laptop .device-container {
		display: block;
		height: auto;
		width: 100%;
		position: relative;
		z-index: 1;
		margin-top: 7%;
	}
	
	.svg {
		overflow: hidden;
		vertical-align: middle;
	}
	
	.device-laptop {
	position: relative;
}
.device-laptop .device-container {
	display: block;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 1;
}
.device-laptop .device-screenshot {
	display: block;
	position: absolute;
	top: 6%;
	left: 11.8%;
	height: auto;
	width: 76.57%;
	z-index: 0;
}
p.just {
	text-align: justify;
}
</style>
<head>
      {% include 'site/header.html' %}
</head>
<body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">mapFSH</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	   	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>
	          <!-- <li class="nav-item"><a href="about" class="nav-link">About</a></li> -->
	          <li class="nav-item"><a href="map" class="nav-link">Map</a></li>
	          <li class="nav-item"><a href="listings" class="nav-link">Listings</a></li>
	          <li class="nav-item"><a href="login" class="nav-link">Admin</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-4" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-lg-7 col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">Find Your <br>New Home.</h1>
				 <p style="font-size: 18px;">An open-source database for affordable <br> units in the state of New Jersey.</p>
				 <div class="row">
					<p><a href="/listings" class="btn btn-primary py-3 px-4" style="margin: 0px 10px 0px 0px;">View all properties</a></p>
					<p><a href="/map" class="btn btn-primary py-3 px-4">Launch map tool</a></p>
				</div>
            </div>
          </div>
        </div>
      </div>
	</section>
	
    <!-- <section class="ftco-section ftco-no-pb ftco-no-pt search-bg">
    	<div class="container">
	    	<div class="row">
					<div class="col-md-12">
						<div class="search-wrap-1 ftco-animate p-4"> -->
							<!-- <form action="/map" class="search-property-1">
		        		<div class="row">
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Ownership Type</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                        <option value="" style="background-color: #21243d;">No Preference</option>
		                        <option value="" style="background-color: #21243d;">Rent</option>
		                        <option value="" style="background-color: #21243d;">Buy</option>
		                      </select>
		                    </div>
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Property Type</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                        <option value="" style="background-color: #21243d;">No Preference</option>
		                        <option value="" style="background-color: #21243d;">Family</option>
		                        <option value="" style="background-color: #21243d;">Senior</option>
		                      </select>
		                    </div>
				              </div>
			              </div>
		        			</div>
							<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#"># Bedrooms</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                        <option value="" style="background-color: #21243d;">No Preference</option>
		                        <option value="" style="background-color: #21243d;">1</option>
		                        <option value="" style="background-color: #21243d;">2</option>
		                        <option value="" style="background-color: #21243d;">3+</option>
		                      </select>
		                    </div>
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Income Level</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                        <option value="" style="background-color: #21243d;">No Preference</option>
		                        <option value="" style="background-color: #21243d;">Very Low Income</option>
		                        <option value="" style="background-color: #21243d;">Low Income</option>
		                        <option value="" style="background-color: #21243d;">Moderate Income</option>
		                      </select>
		                    </div>
				              </div>
			              </div>
							</div>
							<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Zipcode</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="fa fa-search"></span></div>
				                <input type="text" class="form-control" placeholder="Location">
				              </div>
			              </div>
							</div>
		        			<div class="col-lg align-self-end">
		        				<div class="form-group">
		        					<div class="form-field">
				                <input type="submit" value="Search" class="form-control btn btn-primary">
				              </div>
			              </div>
		        			</div>
		        		</div>
		        	</form> -->
		        <!-- </div>
					</div>
	    	</div>
	    </div>
    </section> -->

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
              <div class="media-body py-md-4">
                <h3>Trusted Data</h3>
                <p>All data is compiled by The Fair Share Housing Center.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-home"></span></div>
              <div class="media-body py-md-4">
                <h3>Wide Range of Properties</h3>
                <p>We can help match you with properties depending on your needs.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-stats"></span></div>
              <div class="media-body py-md-4">
                <h3>Affordable</h3>
                <p>All properties listed on mapFSH are for low-income residents of New Jersey.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quarantine"></span></div>
              <div class="media-body py-md-4">
                <h3>No Hassle</h3>
                <p>All available properties are literally at your fingertips.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
	</section>
	
    <section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				   <div class="col-md-7 order-md-last d-flex align-items-stretch">
						  <div class="container">
						<div class="device-laptop text-gray-200 mt-n10" data-aos="fade-up">
							<svg class="device-container" xmlns="http://www.w3.org/2000/svg" fill="#21243d" viewBox="83.911 298.53 426.962 243.838"><path d="M474.843 516.208V309.886c0-6.418-4.938-11.355-11.354-11.355H131.791c-6.417 0-11.354 4.938-11.354 11.355v206.816H83.911v13.326c4.938 7.896 31.098 12.34 40.969 12.34h345.024c10.366 0 36.526-4.936 40.969-12.34v-13.326h-36.03v-.494zM134.26 313.341h326.762v203.361H134.26V313.341z"></path></svg><img class="device-screenshot" src="../static/images/map-screenshot.png" style="height: 95%" />
						</div>
					</div>
					<div class="svg-border-rounded text-white">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
					</div>
				</div>
				<div class="col-md-5 wrap-about py-md-5 ftco-animate">
		  <div class="heading-section pr-md-5">
			<h2 class="mb-4">mapFSH </h2>

			<p class="just">mapFSH (Map Fair Share Housing) is a project taken on by The Fair Share Housing Center of New Jersey to make their data regarding available residential properties within the state of NJ open-source.</p>
		<p class="just"> <a href="https://fairsharehousing.org/">The Fair Share Housing Center of New Jersey</a> is a nonprofit organization that fights for the rights of low-income communities to get their "fair share" of the community. The Fair Share Housing Center works to end any and all discriminatory practices against low-income home seekers in the state of New Jersey through legislation.</p>
		  </div>
				</div>
			</div>
		</div>
	</section>
          {% include 'site/footer.html' %}

  </body>
</html>
