<!DOCTYPE html>
<html lang="en">
<style>
	.device-laptop .device-container {
		display: block;
		height: auto;
		width: 100%;
		position: relative;
		z-index: 1;
		margin-top: 7%;
	}

	.svg {
		overflow: hidden;
		vertical-align: middle;
	}

	.device-laptop {
	position: relative;
}
.device-laptop .device-container {
	display: block;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 1;
}
.device-laptop .device-screenshot {
	display: block;
	position: absolute;
	top: 6%;
	left: 11.8%;
	height: auto;
	width: 76.57%;
	z-index: 0;
}
p.just {
	text-align: justify;
}
</style>
<head>
      {% include 'site/header.html' %}
</head>
<body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">mapFSH</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	   	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="index" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="map" class="nav-link">Map</a></li>
			  <li class="nav-item"><a href="listings" class="nav-link">Listings</a></li>
			  <li class="nav-item"><a href="favorites" class="nav-link">Favorites</a></li>
	          <li class="nav-item"><a href="login" class="nav-link">Admin</a></li>
	        </ul>
	      </div>


	    </div>
	  </nav>



    <section class="hero-wrap hero-wrap-4" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-lg-7 col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">Find Your <br>New Home.</h1>
				 <p style="font-size: 18px;">An open-source database for affordable <br> units in the state of New Jersey.</p>
				 <div class="row">
					<p><a href="/listings" class="btn btn-primary py-3 px-4" style="margin: 0px 10px 0px 0px;">View All Properties</a></p>
					<p><a href="/map" class="btn btn-primary py-3 px-4">Launch Map</a></p>
				</div>
            </div>
          </div>
        </div>
      </div>
	</section>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
              <div class="media-body py-md-4">
                <h3>Trusted Data</h3>
                <p>All data is compiled by The Fair Share Housing Center.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-home"></span></div>
              <div class="media-body py-md-4">
                <h3>Wide Range of Properties</h3>
                <p>We can help match you with properties depending on your needs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-stats"></span></div>
              <div class="media-body py-md-4">
                <h3>Affordable</h3>
                <p>All properties listed on mapFSH are for low-income residents of New Jersey.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quarantine"></span></div>
              <div class="media-body py-md-4">
                <h3>No Hassle</h3>
                <p>All available properties are literally at your fingertips.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
	</section>

	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				   <div class="col-md-7 order-md-last d-flex align-items-stretch">
						  <div class="container">
						<div class="device-laptop text-gray-200 mt-n10" data-aos="fade-up">
<svg class="device-container" xmlns="http://www.w3.org/2000/svg" fill="#21243d" viewBox="-5 -10 1293.000000 780.000000">
<metadata>
</metadata>
<g transform="translate(0.000000,780.000000) scale(0.100000,-0.100000)"
fill="#21243d" stroke="none">
<path d="M1389 7786 c-99 -26 -174 -89 -227 -189 l-27 -52 0 -3402 0 -3402 21
-28 c11 -15 36 -36 55 -45 32 -16 6 -17 -569 -18 -600 0 -602 0 -623 -21 -19
-19 -21 -28 -14 -78 3 -31 10 -128 14 -216 5 -126 11 -167 25 -195 25 -49 64
-88 111 -113 l40 -22 6205 0 6205 0 40 22 c47 25 86 64 111 113 14 28 20 69
25 195 4 88 11 185 14 216 7 50 5 59 -14 78 -21 21 -23 21 -623 21 -575 1
-601 2 -569 18 19 9 44 30 55 45 l21 28 0 3402 0 3402 -34 63 c-41 75 -94 125
-170 161 l-56 26 -4985 2 c-3929 1 -4995 -1 -5031 -11z m3269 -96 c46 -43 36
-117 -20 -146 -61 -32 -128 11 -128 82 0 34 5 47 26 63 35 27 93 28 122 1z
m6662 -3465 l0 -3225 -4920 0 -4920 0 0 3225 0 3225 4920 0 4920 0 0 -3225z
m-3320 -3585 c0 -21 -30 -69 -56 -89 l-27 -21 -1517 0 -1517 0 -27 21 c-26 20
-56 68 -56 89 0 7 490 10 1600 10 1110 0 1600 -3 1600 -10z m3355 -194 c93
-39 101 -187 12 -232 -44 -24 -111 -22 -145 2 -85 63 -73 188 22 230 40 17 69
17 111 0z m429 0 c44 -18 77 -66 78 -114 1 -105 -98 -167 -192 -120 -79 40
-101 126 -48 193 39 50 102 66 162 41z m451 -10 c37 -24 56 -60 57 -105 1 -58
-29 -102 -85 -125 -47 -19 -47 -19 -93 0 -61 25 -89 63 -89 119 0 104 122 168
210 111z m-10914 -76 c26 -14 24 -45 -3 -64 -34 -24 -762 -24 -796 0 -26 18
-28 31 -5 56 15 17 41 18 400 18 246 0 391 -4 404 -10z"/>
</g>
</svg>
<img class="device-screenshot" src="../static/images/map-screenshot.png" style="height: 85%" />
						</div>
					</div>
					<div class="svg-border-rounded text-white">
						<svg class="device-container" xmlns="http://www.w3.org/2000/svg" fill = "#21243d" viewBox="0 -7  1280.0 770.0"></svg>
												<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg> -->
					</div>
				</div>
				<div class="col-md-5 wrap-about py-md-5 ftco-animate">
		  <div class="heading-section pr-md-5">
			<h2 class="mb-4">mapFSH </h2>

			<p class="just">mapFSH (Map Fair Share Housing) is a project taken on by The Fair Share Housing Center of New Jersey to make their data regarding available residential properties within the state of NJ open-source.</p>
		<p class="just"> <a href="https://fairsharehousing.org/">The Fair Share Housing Center of New Jersey</a> is a nonprofit organization that fights for the rights of low-income communities to get their "fair share" of the community. The Fair Share Housing Center works to end any and all discriminatory practices against low-income home seekers in the state of New Jersey through legislation.</p>
		  </div>
				</div>
			</div>
		</div>
	</section>
	          {% include 'site/footer.html' %}

  </body>

	<script src="http://www.w3schools.com/lib/w3data.js"></script>

	<script>
	w3IncludeHTML();
	</script>

</html>
