
<!DOCTYPE html>
<html lang="en">
<style>
#dataTable {
  border-collapse: collapse;
  width: 100%;
}
#dataTable tr:nth-child(even){background-color: #f2f2f2;}
#dataTable tr:hover {background-color: #ddd;}
#dataTable th {
  padding-top: 12px;
  /* padding-bottom: 12px; */
  text-align: left;
  background-color: #21243d;
  color: white;
}
.dataTables_filter, .dataTables_info { display: none; }
.fa-home {
    padding-right: 5px;
  }
</style>
<head>
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      data-auto-a11y="true"
    ></script>
      {% include 'site/header.html' %}
</head>
<body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">mapFSH</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
	          <!-- <li class="nav-item"><a href="about" class="nav-link">About</a></li> -->
	          <li class="nav-item"><a href="map" class="nav-link">Map</a></li>
            <li class="nav-item active"><a href="listings" class="nav-link">Listings</a></li>
            <li class="nav-item"><a href="favorites" class="nav-link">Favorites</a></li>
	          <li class="nav-item"><a href="login" class="nav-link">Admin</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-7" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Listings <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Listings</h1>
          </div>

        </div>
      </div>
    </section>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search-wrap-1 ftco-animate p-4">
            <form action="/list-filtering" class="search-property-1">
              <div class="row">

                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">Ownership Type</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select  name="ownership" id="" class="form-control">
                          <option value="owner_default" selected disabled hidden>{{ prevOwner.capitalize() }}</option>
                          <option value="none" style="background-color: #21243d;">No Preference</option>
                          <option value="rent" style="background-color: #21243d;">Rent</option>
                          <option value="buy" style="background-color: #21243d;">Buy</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">Property Type</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select name="property" id="" class="form-control">
                          {% if prevProp != "none" %}
                          <option value="prop_default" selected disabled hidden>{{ prevProp.capitalize() }}</option>
                          <option value="none" style="background-color: #21243d;">No Preference</option>
                          {% else %}
                          <option value="none" style="background-color: #21243d;">No Preference</option>
                          {% endif %}
                          <option value="family" style="background-color: #21243d;">Family</option>
                          <option value="senior" style="background-color: #21243d;">Senior</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#"># Bedrooms</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select name="bedrooms" id="" class="form-control">
                          {% if prevBed != "none" %}
                          <option value="prop_default" selected disabled hidden>{{ prevBed }}</option>
                          <option value="none" style="background-color: #21243d;">No Preference</option>
                          {% else %}
                          <option value="none" style="background-color: #21243d;">No Preference</option>
                          {% endif %}
                          <option value="1" style="background-color: #21243d;">1</option>
                          <option value="2" style="background-color: #21243d;">2</option>
                          <option value="3+" style="background-color: #21243d;">3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">Income Level</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select name="income" id="" class="form-control">
                            {% if prevIncome != "none" %}
                            <option value="prop_default" selected disabled hidden>{{ prevIncome.capitalize() }}</option>
                            <option value="none" style="background-color: #21243d;">No Preference</option>
                            {% else %}
                            <option value="none" style="background-color: #21243d;">No Preference</option>
                            {% endif %}
                            <option value="very" style="background-color: #21243d;">Very Low Income</option>
                            <option value="low" style="background-color: #21243d;">Low Income</option>
                            <option value="moderate" style="background-color: #21243d;">Moderate Income</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg align-items-end">
                      <div class="form-group">
                        <label for="#">Town</label>
                        <div class="form-field">
                          <div class="icon"><span class="fa fa-search"></span></div>
                          <input type="text" value="{{ prevTown }}" name="town"class="form-control" placeholder="Town">
                        </div>
                      </div>
                </div>

                <div class="col-lg align-items-end">
                      <div class="form-group">
                        <label for="#">County</label>
                        <div class="form-field">
                          <div class="icon"><span class="fa fa-search"></span></div>
                          <input type="text" value="{{ prevCounty }}" name="county" class="form-control" placeholder="County">
                        </div>
                      </div>
                </div>

                <div class="col-lg align-self-end">
                  <div class="form-group">
                    <div class="form-field">
                      <input type="submit" value="Search" class="form-control btn btn-primary">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <main>
      <div class="container-fluid">
          <h1 class="mt-4"></h1>
          <div class="card mb-4">
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th><i class="fas fa-home"></i>Address</th>
                                  <th>Municipality</th>
                                  <th>County</th>
                                  <th>Status</th>
                                  <th>1Bdr Units</th>
                                  <th>2Bdr Units</th>
                                  <th>3Bdr Units</th>
                                  <th>Units Total</th>
                                  <th>Family Units</th>
                                  <th>Senior Units</th>
                                  <th>SSN Units</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for i in range(rows|length): %}
                            <tr>
                              <td><a href='details?id={{ids[i]}}&adr={{rows[i][0]}}&coords={{rows[i][1]}}' target="_blank">{{rows[i][0]}}</a></td>
                              {% for j in range(2, rows[i]|length): %}
                              <td>  {{ rows[i][j] }} </td>
                              {% endfor %}
                           </tr>
                           {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
      </main>

      {% include 'site/footer.html' %}

  </body>
</html>
