<!DOCTYPE html>
<html lang="en">


  <head>
    {% include 'site/admin-header.html' %}
  </head>


<body style="margin:0;" >
  <section class="bg-primary" style= "background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header bg-dark"><h3 class="text-center my-4" style="color:#fff">Login</h3></div>
                                    <div class="card-body">

                                        <form action="/check" method="post">
                                            <div class="form-group">
                                                <label class="small mb-1">Email</label>
                                                <input class="form-control py-4" autofocus name="inputEmailAddress" type="email" placeholder="Enter email address" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" >Password</label>
                                                <input class="form-control py-4" name="inputPassword" type="password" placeholder="Enter password" required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox" />
                                                    <label class="custom-control-label" name="rememberPasswordCheck">Remember password</label>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password" style="color:#24A148">Forgot Password?</a>


                                                <button  class="btn btn-primary" style="background-color:#24A148"  type="submit">Login </button>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center bg-dark">
                                        <div class="small"><a href="register"  style="color:#24A148">Need an account? Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
              </section>
            </div>


            {% include 'site/admin-footer.html' %}

    </body>
</html>
