<!DOCTYPE html>
<html lang="en">
<head>
      {% include 'site/header.html' %}
</head>
<body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index">mapFSH</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="about" class="nav-link">About</a></li>
	          <li class="nav-item active"><a href="map" class="nav-link">Map</a></li>
	          <li class="nav-item"><a href="listings" class="nav-link">Listings</a></li>
	          <li class="nav-item"><a href="admin" class="nav-link">Admin</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <!-- <div class="col-md-9 ftco-animate pb-0 text-center"> -->
          <div class="col-md-12"></div>
            <head>
              <style>
                /* Set the size of the div element that contains the map */
                #map {
                  height: 400px;
                  width: 100%;  
                 }
              </style>
            </head>
            <body>
              <!--The div element for the map -->
              <div id="map"></div>
              <script>
          // Initialize and add the map
          function initMap() {
            // The location of princeton
            var princeton = {lat: 40.3431, lng: -74.6551};
            // The map, centered at princeton
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: princeton});
            // The marker, positioned at princeton
            var marker = new google.maps.Marker({position: princeton, map: map});
          }
              </script>
              <script defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnLdUxzZ5jvhDgvM_siJ_DIRHuuirOiwQ&callback=initMap">
              </script>
            </body>
          </div>
        </div>
      </div>
    </section>

          {% include 'site/footer.html' %}

    
  </body>
</html>

