<!DOCTYPE html>
<html lang="en">

    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Upload Data</h1>


                        {% if empty %}
                        {% for a, y in rand %}
                         Missing Column <span style="color: #24A146;">{{ a }}</span>. This column expected a <span style="color: #24A146;">{{ y }}</span>.   <br>
                        {% endfor %}
                        {% endif %}

                        {% if insert and not empty: %}
                                Error inserting <span style="color: #24A146;">{{ insert|join("; ") }}</span>. Please contact the system adminstrator.<br><br>
                        {% endif %}

                        {% if col  and not empty: %}
                                Your database needs to include the following column(s): <span style="color: #24A146;">{{ col|join("; ") }}</span>.<br><br>
                        {% endif %}

                        {% if flag and not empty: %}
                            {% for a, y in rand %}
                             Incorrect Formatting at <span style="color: #24A146;">{{ a }}</span>. These cells expected a <span style="color: #24A146;">{{ y }}</span>.   <br>
                            {% endfor %}
                        {% endif %}



                    </div>
                </main>
                {% include 'site/admin-footer.html' %}
    </body>

</html>
