<!DOCTYPE html>
<html lang="en">

    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Upload Data</h1>

                          {% if empty_excel !=  []: %}
                          {% for a, y in empty_excel %}
                           Missing Column <span style="color: #24A146;">{{ a }}</span>. This column must be populated with <span style="color: #24A146;">{{ y }}</span>.  <br>
                          {% endfor %}
                          <br>
                          {% endif %}


                          {%  if empty_excel == []: %}
                          {% for a, y in missing_columns %}
                           Missing Column <span style="color: #24A146;">{{ a }}</span>. This column must be populated with <span style="color: #24A146;">{{ y }}</span>.   <br>
                          {% endfor %}
                          <br>
                          {%  endif %}

                          {%  if empty_excel == []: %}
                          {% for a, y in wrongtype %}
                          Incorrect Formatting at <span style="color: #24A146;">{{ a }}</span>. These cells expected <span style="color: #24A146;">{{ y }}</span>.   <br>
                          {% endfor %}
                          <br>
                          {%  endif %}


                    </div>
                </main>
                {% include 'site/admin-footer.html' %}
    </body>

</html>
