<!DOCTYPE html>
<html lang="en">

    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Upload Data</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">Upload Data</li>
                        </ol>


                        {% if insert: %}
                                Error inserting <span style="color: #24A146;">{{ insert|join("; ") }}</span>. Please contact the system adminstrator.<br>
                        {% endif %}
                        <br>

                        {% if col: %}
                                Your database needs to include a <span style="color: #24A146;">{{ col|join("; ") }} </span> Column(s).<br>
                        {% endif %}
                        <br>

                        {% if rand: %}
                                Incorrect Formatting at Column: <span style="color: #24A146;">{{ error[0] }}</span> and Row Number:  <span style="color: #24A146;">{{ error[1] }} </span>.<br>
                        {% endif %}

                    </div>
                </main>
                {% include 'site/admin-footer.html' %}
    </body>

</html>
