<!DOCTYPE html>
<html lang="en">

<style>
button {
  background-color: #4CAF50;
  color: white;
  padding: 0px 0px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
</style>

    <head>
      {% include 'site/admin-header.html' %}
    </head>

    <script>
        function check_pass(input) {

        const password1 = document.getElementById('inputPassword');
        const password2 = document.getElementById('inputConfirmPassword');

        if (password1.value === password2.value) {
             password2.setCustomValidity('');
        } else {
            password2.setCustomValidity('Passwords must match');
        }

        }
    </script>

    <body class="bg-primary">
        <div class="overlay"></div>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                  <div class="card-header bg-dark"><h3 class="text-center my-4" style="color:#fff">Create Account</h3></div>

                                    <!-- <div class="card-header"><h3 class="text-center font-weight-light my-4"></h3></div> -->
                                    <div class="card-body">

                                            <form action="/create" method="post">

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1">First Name</label>
                                                        <input class="form-control py-4" autofocus name="inputFirstName" type="text" placeholder="Enter first name" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Last Name</label>
                                                        <input class="form-control py-4" name="inputLastName" type="text" placeholder="Enter last name" required/>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" >Email</label>
                                                <!-- pattern=".+@fairsharehousing.org"  -->
                                                <input class="form-control py-4" name="inputEmailAddress"   type="email" aria-describedby="emailHelp" placeholder="Enter email address"
                                                oninvalid="this.setCustomValidity('Please enter a @fairsharehousing.org email.')" oninput="this.setCustomValidity('')" required />
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Password</label>
                                                        <input class="form-control py-4" name="inputPassword"  id="inputPassword"  type="password" placeholder="Enter password" required/>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" >Confirm Password</label>
                                                        <input class="form-control py-4" name="inputConfirmPassword" id="inputConfirmPassword" type="password" placeholder="Confirm password"   oninput="check_pass(this);" required/>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                    <button  class="btn btn-primary" style="background-color:#24A148"  type="submit">Create Account! </button>

                                                </div>


                                        </form>
                                    </div>

                                    <div class="card-footer text-center bg-dark">
                                        <div class="small"><a href="login"  style="color:#24A148">Have an account? Go to login</a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            {% include 'site/admin-footer.html' %}
    </body>
</html>
