<!DOCTYPE html>
<html lang="en">

    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Edit Data</h1>
                        <p>To edit a cell, click on the text currently in that cell, and an editable text box will appear. Make sure to submit your changes after adding, editing, or deleting rows.</p>
                        <p id='saved'></p>
                        <form id='f' action="/clear" method="POST" onsubmit="return confirm('Are you sure you want to delete all listings? This cannot be undone.');"></form>
                        <button class='btn btn-primary' style='display:inline-block' id='submit'>Submit Changes</button>
                        <input type="submit" form='f' class="btn right btn-primary" style='display:inline-block;float:right' value="Delete All Listings" >
                        <div style='width:5px;display:inline-block'></div>
                        <button class='btn right btn-primary' style='display:inline-block;float:right;margin-right:1em' id='add-row'>Add Row</button>
                        
           
                        
                        <br><br>
                        <div class="card mb-4">

                            <div class="card-body">

                                <div class="large-table-container"></div>


                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <td></td>
                                                    <th class="sorting_asc">Listing ID</th>
                                                    <th>Program Name</th>
                                                    <th>Developer</th>
                                                    <th>Status</th>
                                                    <th>Compliance</th>
                                                    <th>Admin Agent</th>
                                                    <th>Address</th>
                                                    <th>Municipality</th>
                                                    <th>County</th>
                                                    <th>Municipality Code</th>
                                                    <th>Region</th>
                                                    <th># Very Low Income 1Bdr</th>
                                                    <th># Very Low Income 2Bdr</th>
                                                    <th># Very Low Income 3Bdr</th>
                                                    <th># Low Income 1Bdr</th>
                                                    <th># Low Income 2Bdr</th>
                                                    <th># Low Income 3Bdr</th>
                                                    <th># Moderate Income 1Bdr</th>
                                                    <th># Moderate Income 2Bdr</th>
                                                    <th># Moderate Income 3Bdr</th>
                                                    <th># Very Low Income SSN</th>
                                                    <th># Low Income SSN</th>
                                                    <th># Moderate Income SSN</th>
                                                    <th># Family Units for Sale</th>
                                                    <th># Family Units for Rent</th>
                                                    <th># Senior Units for Sale</th>
                                                    <th># Senior Units for Rent</th>
                                                    <th># SSN Units for Sale</th>
                                                    <th># SSN Units for Rent</th>
                                                    <th># Units Total</th>
                                                    <th># Family Units</th>
                                                    <th># Senior Units</th>
                                                    <th># SSN Units</th>
                                                    <th># 1Bdr Units</th>
                                                    <th># 2Bdr Units</th>
                                                    <th># 3Bdr Units</th>
                                                </tr>
                                            <tbody>
                                                {% for row in rows %}
                                                    <tr>
                                                        <td style="vertical-align:middle">
                                                            <button name='{{row[0]}}' class='btn btn-primary delete-button'>Delete</button>
                                                        </td>
                                                        <!-- {% set row_nums = [4] %}
                                                        {% for i in range(row|length) %}
                                                        {% endfor %} -->
                                                        <td style='vertical-align:middle' align='center'>
                                                            {{row[0]}}
                                                        </td>
                                                        {% for i in range(1, row|length) %}
                                                            <td style="vertical-align:middle" align="center">

                                                                {% set row_nums = (row[i] | string) | length / 20 + 1 %}
                                                                <div class='text-box' id='{{row[0]}};{{i}}' contenteditable='true'>{{row[i]}}</div>
                                                                <!-- <textarea placeholder='{{row[i]}}' form='main' name='{{row[0]}};{{i}}' style="text-align-last:center;resize:none;border:none;overflow:hidden" rows = {{row_nums}} cols={{(col_list | sort)[0]}} name="bob" oninput='this.style.height = this.scrollHeight + "px"'>{{row[i]}}</textarea> -->
                                                            </td>
                                                        {% endfor %}

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>


            <script src="static/js/jquery.min.js"></script>
                    <script>






                            var to_add = {};
                            var to_delete = [];


                            $(document).ready(function() {
                                $("#main").on("submit", function(e) {
                                    $(window).off("beforeunload");
                                    return true;
                                });
                                $('body').on('DOMSubtreeModified', '.text-box', function(){
                                    var conattr = $(this).attr('contenteditable');
                                    if (typeof conattr !== typeof undefined && conattr !== false) {
                                        var val = $(this).text();
                                        var id = $(this).attr('id');
                                        to_add[id] = val;
                                        $(window).on("beforeunload", function() {
                                            return "Are you sure you don't want to save any changes?";
                                        });
                                    }
                                });
                                $('.delete-button').click(function() {
                                    console.log("AHHHHHHH");
                                    var id = $(this).attr('name');
                                    console.log(id);
                                    var ids = t.column(1).data();
                                    for (let i = 0; i < ids.length; i++)
                                        if (t.row(i).data()[1] === id) {
                                            console.log('FOUND HER');
                                            t.row(i).remove().draw();
                                            break;
                                        }
                                    to_delete.push(id)
                                    $(window).on("beforeunload", function() {
                                        return "Are you sure you don't want to save any changes?";
                                    });
                                });

                                $('#submit').click(function() {

                                    $('#saved').html("");
                                    $(window).off("beforeunload");
                                    var output = {'to_add':to_add, 'to_delete':to_delete};
                                    $.ajax({
                                        type: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(output),
                                        dataType: 'json',
                                        url: '/edit',
                                        complete: function (e) {
                                            $('#saved').html("Your changes were saved successfully.");
                                            to_add = {};
                                            to_delete = [];
                                        },
                                        error: function(error) {
                                        console.log(error);
                                    }
                                    });
                                });

                                var t = $('#dataTable').DataTable({
                                    "scrollY": "60vh",
                                    "paging": false,
                                    "bInfo": false,
                                    "searching": true,
                                    "sScrollX":"100%",
                                    "scrollCollapse": true,
                                    "columnDefs": [
                                        {"className": "dt-center", "targets": "_all"}
                                    ]

                                });
                                var ids = t.column(1).data();
                                var counter = 0;
                                for (let i = 0; i < ids.length; i++) {
                                    if (parseInt(ids[i]) > counter) counter = parseInt(ids[i]);
                                  }
                                counter++;
                                $("#add-row").click(function () {
                                    t.row.add([
                                    "<button name='" + counter + "' class='btn btn-primary delete-button'>Delete</button>",
                                    "" + counter + "",
                                    "<div class='text-box' id='" + counter + ";1' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";2' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";3' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";4' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";5' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";6' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";7' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";8' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";9' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";10' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";11' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";12' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";13' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";14' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";15' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";16' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";17' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";18' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";19' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";20' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";21' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";22' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";23' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";24' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";25' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";26' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";27' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";28' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";29' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";30' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";31' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";32' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";33' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";34' contenteditable='true'></div>",
                                    "<div class='text-box' id='" + counter + ";35' contenteditable='true'></div>"
                                    ]
                                    ).order([1, 'desc']).draw();
                                    $('.delete-button').click(function() {
                                    console.log("AHHHHHHH");
                                    var id = $(this).attr('name');
                                    console.log(id);
                                    var ids = t.column(1).data();
                                    console.log(ids);
                                    for (let i = 0; i < ids.length; i++)
                                        if (t.row(i).data()[1] === id) {
                                            console.log('FOUND HER');
                                            t.row(i).remove().draw();
                                            break;
                                        }
                                    to_delete.push(id)
                                    $(window).on("beforeunload", function() {
                                        return "Are you sure you don't want to save any changes?";
                                    });
                                });
                                    counter++;
                                    $(window).on("beforeunload", function() {
                                        return "Are you sure you don't want to save any changes?";
                                    });

                                });
                            });



                        // var sub = false;

                            </script>
                </main>

                {% include 'site/admin-footer.html' %}
        <script>
            const row0 = []
            // for col in row -> add event listener -> onchange -> then update corresponding array element
        </script>
    </body>

</html>
