<!DOCTYPE html>
<html lang="en">

{% if not current_user.is_authenticated: %}
<script>
    window.location = "/login";
</script>

  {% else: %}

    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}

     <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Upload Data</h1>
                        <p>Please choose a .xls or .xlsx file to upload.</p> 
                        <p id='errorPar' style='color:red'></p>
                        <form id='filesubmit' enctype = "multipart/form-data">
                            <input type = "file" id = 'file' name = "file" accept=".xlsx,.xls"/>
                            <input id='submit' type = "submit"/>
                        </form>
                        <br>
                        <p>Some things to consider:</p>
                        <p> 1. For every row in your spreadsheet, if that row's listing ID is not in the current database, that row will be added.</p>
                        <p> 2. If the listing ID for a spreadsheet row is in the current database, the database will be updated to match the information in the spreadsheet for that row.</p>
                        <p> 3. This will not remove any rows from the database that are not in the spreadsheet.</p>
                    </div>
                </main>


            <script src="static/js/jquery.min.js"></script>
                <script>
                    $(document).ready(function() {
                        $('form#filesubmit').submit(function () {
                            if ($('#file').val() === '') {
                                $('#errorPar').html('Please choose a file.');
                            }
                            else {
                                var formData = new FormData(this);
                                formData.append('files', $('#file')[0].files[0]);
                                for (var key of formData.entries()) {
                                    console.log('aaaaaa')
                                    console.log(key[0] + ', ' + key[1]);
    }
                                $.ajax({
                                    type        : 'POST',
                                    url         : '/uploaded',
                                    data        : formData,
                                    dataType    : 'text',
                                    processData: false,
                                    contentType: false
                                })
                                    .done(function(data) {
                                        console.log(data)
                                        window.location.replace(data);
                                    });

                            }
                            event.preventDefault();
                        });
                    });
                </script>
        {% include 'site/admin-footer.html' %}
    </body>

 {% endif %}

</html>
