<!DOCTYPE html>
<html lang="en">

    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}
     <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Upload Data</h1>
                        {% if error: %}
                          <p style="color:#FF0000";>Please Choose a File.</p>
                        {% endif %}
                        <form action = "/uploaded" method = "POST"
                        enctype = "multipart/form-data">
                        <input type = "file" name = "file" accept=".xlsx,.xls"/>
                        <input type = "submit"/>
                     </form>
                    </div>
                </main>
    {% include 'site/admin-footer.html' %}
    </body>

</html>
