
<!DOCTYPE html>
<html lang="en">
    <head>
      {% include 'site/admin-header.html' %}
    </head>
    <body class="sb-nav-fixed">
      {% include 'site/admin-navbar.html' %}

     <div id="layoutSidenav_content">
                <main>


                    <div class="container-fluid">
                        <h1 class="mt-4">Upload Data</h1>

                        <div class="alert alert-info">
                            <strong> Some things to consider: </strong>
                            <ul>
                              <li>For every row in your spreadsheet, if that row's listing ID is not in the current database, that row will be added.</li>
                              <li>If the listing ID for a spreadsheet row is in the current database, the database will be updated to match the information in the spreadsheet for that row.</li>
                              <li>This will not remove any rows from the database that are not in the spreadsheet.</li>
                            </ul>
                          </div>

                        <p>Please choose a .xls or .xlsx file to upload.</p> 
                        <p id='errorPar' style='color:red'></p>
                        <form id='filesubmit' enctype = "multipart/form-data">
                            <input type = "file" id = 'file' name = "file" accept=".xlsx,.xls"/>
                            <input id='submit' type = "submit"/>
                        </form>
                          </div>
                </main>


            <script src="static/js/jquery.min.js"></script>
                <script>
                    $(document).ready(function() {
                        $('form#filesubmit').submit(function () {
                            if ($('#file').val() === '') {
                                $('#errorPar').html('Please choose a file.');
                            }
                            else {
                                var formData = new FormData(this);
                                formData.append('files', $('#file')[0].files[0]);
                                for (var key of formData.entries()) {
                                    console.log('aaaaaa')
                                    console.log(key[0] + ', ' + key[1]);
    }
                                $.ajax({
                                    type        : 'POST',
                                    url         : '/uploaded',
                                    data        : formData,
                                    dataType    : 'text',
                                    processData: false,
                                    contentType: false
                                })
                                    .done(function(data) {
                                        console.log(data)
                                        var form = $('<form action="/admin-parsed" method="post">' +
                                        '<input style="display:none" type="text" name="api_url"  />' +
                                        '</form>');
                                        $('body').append(form);
                                        form.submit();
                                    });

                            }
                            event.preventDefault();
                        });
                    });
                </script>
        {% include 'site/admin-footer.html' %}
    </body>

</html>

