<!DOCTYPE html>
<html lang="en">

    <head>
      {% include 'site/admin-header.html' %}
      </head>

    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main style="height:auto;">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header bg-dark"><h3 class="text-center my-4" style="color:#fff">Password Recovery</h3></div>
                                    <div class="card-body" style="text-align: center">
                                    Please check your email for a link. Please be patient in that it may take a few minutes for you to receive the email.
                                    </div>
                                    <div class="card-footer text-center bg-dark">
                                        <div class="small"><a href="login"  style="color:#24A148">Login!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            {% include 'site/admin-footer.html' %}

    </body>
</html>
